body {
  font-family: 'Lato', sans-serif;
}

h2 {
  font-weight: 700;
}

.header {
  width: 100%;
  background-color: #eff6fe;
  padding-top: 30px;
  padding-left: 84.5px;
  padding-right: 84.5px;
  height: 250px;
}

.header .navinfo {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navinfo img {
  width: 200px;
  border-radius: 20px;
}

.header .navinfo a {
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
  color: #323232;
}

.header .navinfo a:hover {
  color: #afacac;
}

.header .navinfo .k {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 550px;
}

.box {
  width: 100%;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box .top {
  height: 216px;
}

.box .top .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.box .top h1 {
  font-size: 30px;
  font-weight: 700;
}

.box .top .buttons {
  padding-right: 157px;
}

.box .top .buttons .no {
  margin-left: 22px;
}

.box .top p {
  padding-left: 590px;
}

button {
  width: 74px;
  height: 48px;
  padding: 12px, 22px, 12px, 22px;
  border: 2px solid #0076be;
  color: #0076be;
  border-radius: 10px;
  background-color: white;
  font-size: larger;
}

button:hover {
  background-color: #0076be;
  color: white;
}

.driverinfo {
  margin-top: 75px;
  padding-left: 42px;
  padding-top: 34px;
  height: 957px;
}

.driverinfo h2 {
  font-size: 32px;
}

.driverinfo label {
  margin-top: 54px;
  margin-right: 200px;
  font-size: 24px;
}

.driverinfo form #fullname {
  width: 408px;
  height: 70px;
}

.driverinfo form .dobinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.driverinfo form .dobinfo .dob {
  width: 65px;
  height: 70px;
}

.driverinfo form .genderinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
}

.driverinfo form .genderinfo .gender {
  width: 135px;
  height: 70px;
  background-color: white;
}

.driverinfo form .genderinfo .gender:hover {
  background-color: #0076be;
  color: white;
}

.morecarinfo {
  padding-left: 42px;
  padding-right: 100px;
  margin-top: 75px;
}

.morecarinfo .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #afacac;
}

.morecarinfo #address {
  width: 350px;
}

.email {
  padding-left: 42px;
  margin-top: 75px;
}

.email #email {
  width: 350px;
}

.center {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center .carinfo {
  border: 1px black solid;
  border-radius: 10px;
  width: 1099px;
}

.center .carinfo .use {
  height: 213px;
  width: 243.57003784179688px;
  left: 982.630859375px;
  top: 1807px;
  border-radius: 30px;
  font-size: 30px;
  font-weight: 700;
}

.center .carinfo .use .plan {
  font-size: 40px;
}

.center .carinfo .seperate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 75px;
  margin-right: 75px;
}

input {
  border: 2px solid #0076be;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: larger;
  height: 70px;
}

.boxed {
  padding-top: 64px;
  padding-bottom: 30px;
  padding-left: 40px;
  border: 1px black solid;
  border-radius: 10px;
  width: 1099px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.grey {
  color: #afacac;
  font-size: 20px;
  padding-top: 20px;
}

.progressbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progressbar .line {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: silver;
  width: 50%;
  border-radius: 15px;
}

.progressbar .line .now {
  background-color: #0076be;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}

.progressbar .line .length {
  width: 35%;
}

.progressbar .progress {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 190px;
  background-color: #eff6fe;
}

.progressbar .progress .font {
  font-size: 18px;
  font-weight: 800;
  line-height: 1rem;
}

.progressbar .progress .font:hover {
  color: #afacac;
}

.quote {
  width: 400px;
}

.submit {
  margin-bottom: 50px;
}
/*# sourceMappingURL=styles.css.map */